@import "tailwindcss";
@config "./tailwind.config.js";

/* LIGHT THEME (default) */
:root {
    --color-primary: 188 86% 53%;
    --color-secondary: 60 100% 20%;
    --color-bg: 0 0% 100%;
    --color-bg-light: 0 0% 95%;
    --color-text-muted: 0 0% 10%;
    --color-text: 0 0% 05%;
}

/* DARK THEME */
.dark {
    --color-primary: 188 86% 53%;
    --color-secondary: 60 100% 40%;
    --color-bg-dark: 0 0% 5%;
    --color-bg: 0 0% 10%;
    --color-bg-light: 0 0% 20%;
    --color-text-muted: 0 0% 60%;
    --color-text: 0 0% 95%;
}

/* .dark {
    background-color: hsl(0, 0%, 8%);
} */
